
<div class="payment__fullContainer">
    <!-- left Container -->
    <div class="payment__fullContainer_leftContainer">
        <input class="payment__fullContainer_rightContainer_inputOfferCOde" [placeholder]="'PAYMENT.OFFER_CODE_PLACEHOLDER' | translate" />
        <div class="payment__fullContainer_rightContainer_infobar">
            <div class="banner_chip">
                <img src="https://s3.rdbuz.com/Images/webplatform/Common/Payment/safe-payments.svg" alt="CC" />
                <div class="banner_text">
                  
                    <div>{{ 'PAYMENT.SAFE_AND_SECURE' | translate }}</div>
                    <div>{{ 'PAYMENT.ONLINE_PAYMENTS' | translate }}</div>
                </div>
            </div>
            <div class="banner_chip">
                <img src="https://s3.rdbuz.com/Images/webplatform/Common/Payment/transactions.svg"
                    alt="Million Transactions" />
                <div class="banner_text">
                    <div>{{ 'PAYMENT.TRANSACTIONS_COUNT' | translate }}</div>
                </div>
            </div>
            <div class="banner_chip">
                <img src="https://s3.rdbuz.com/Images/webplatform/Common/Payment/trust.svg" alt="Reliable" />
                <div class="banner_text">
                    <div>{{ 'PAYMENT.YEARS_OF_TRUST' | translate }}</div>
                </div>
            </div>
        </div>
        <div class="payment__fullContainer_leftContainer_paymentInstruments">
            <!-- Payment methods -->
            <div class="Payment__stripe">
                <button class="Payment__stripe__button" (click)="makepayment()">{{ 'PAYMENT.PAY_WITH_STRIPE' | translate }}</button>
            </div>
            <!-- Other Payment Methods -->
            <div class="choose_payment_heading">{{ 'PAYMENT.CHOOSE_OTHER_METHOD' | translate }}</div>
            <div class="payment__fullContainer_leftContainer_paymentInstrument">
                <!-- Credit Card -->
                <div class="payment__fullContainer_leftContainer_eachPaymentInstruments">
                    <input class="radioButton" type="radio" />
                    <div class="radioButtonText">{{ 'PAYMENT.CREDIT_CARD' | translate }}</div>
                    <div class="paymentIconList">
                        <img class="payment_icon_img" src="https://st.redbus.in/paas/images/mobile/v2/visa.png"
                            alt="" />
                        <img class="payment_icon_img" src="https://st.redbus.in/paas/images/mobile/v2/mastercard.png"
                            alt="" />
                        <img class="payment_icon_img" src="https://st.redbus.in/paas/images/web/v2/maestro.png"
                            alt="" />
                    </div>
                </div>
                <!-- Debit Card -->
                <div class="payment__fullContainer_leftContainer_eachPaymentInstruments">
                    <input class="radioButton" type="radio" />
                    <div class="radioButtonText">{{ 'PAYMENT.DEBIT_CARD' | translate }}</div>
                    <div class="paymentIconList">
                        <img class="payment_icon_img" src="https://st.redbus.in/paas/images/mobile/v2/visa.png"
                            alt="" />
                        <img class="payment_icon_img" src="https://st.redbus.in/paas/images/mobile/v2/mastercard.png"
                            alt="" />
                        <img class="payment_icon_img" src="https://st.redbus.in/paas/images/web/v2/maestro.png"
                            alt="" />
                    </div>
                </div>
                <!-- Wallets -->
                <div class="payment__fullContainer_leftContainer_eachPaymentInstruments">
                    <input class="radioButton" type="radio" />
                    <div class="radioButtonText">{{ 'PAYMENT.WALLETS' | translate }}</div>
                    <img class="payment_icon_img" src="https://st.redbus.in/paas/images/web/v2/amazonpay.png" alt="" />
                </div>
                <!-- Net Banking -->
                <div class="payment__fullContainer_leftContainer_eachPaymentInstruments">
                    <input class="radioButton" type="radio" />
                    <div class="radioButtonText">{{ 'PAYMENT.NET_BANKING' | translate }}</div>
                    <div class="paymentIconList">
                        <img class="payment_icon_img" src="https://st.redbus.in/paas/images/web/v2/axis.png" alt="" />
                        <img class="payment_icon_img" src="https://st.redbus.in/paas/images/web/v2/sbi.png" alt="" />
                        <img class="payment_icon_img" src="https://st.redbus.in/paas/images/web/v2/hdfc.png" alt="" />
                        <img class="payment_icon_img" src="https://st.redbus.in/paas/images/web/v2/icici.png" alt="" />
                        <img class="payment_icon_img" src="https://st.redbus.in/paas/images/web/v2/kotak.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="UpiPaymentText">
            {{ 'PAYMENT.UPI_HEADER' | translate }}
        </div>
        <div class="payment__fullContainer_leftContainer_paymentInstrument">
            <!-- UPI payment methods -->
            <div class="payment__fullContainer_leftContainer_eachPaymentInstruments">
                <input class="radioButton" type="radio" />
                <div class="radioButtonText">{{ 'PAYMENT.PAY_VIA_QR' | translate }}</div>
                <div class="payment__fullContainer_leftContainer_eachPaymentInstruments_new">{{ 'COMMON.NEW' | translate }}</div>
                <div class="paymentIconList">
                    <img class="payment_icon_img" src="https://st.redbus.in/paas/images/web/v2/upi/gpay.svg" alt="" />
                    <img class="payment_icon_img" src="https://st.redbus.in/paas/images/web/v2/upi/phonepe.svg"
                        alt="" />
                    <img class="payment_icon_img" src="https://st.redbus.in/paas/images/web/v2/upi/amazonpay.svg"
                        alt="" />
                </div>
            </div>
            <!-- Pay through UPI ID -->
            <div class="payment__fullContainer_leftContainer_eachPaymentInstruments">
                <input class="radioButton" type="radio" />
                <div class="radioButtonText">{{ 'PAYMENT.PAY_VIA_UPI_ID' | translate }}</div>
                <div class="payment__fullContainer_leftContainer_eachPaymentInstruments_new">{{ 'COMMON.NEW' | translate }}</div>
                <div class="paymentIconList">
                    <img class="payment_icon_img" src="https://st.redbus.in/paas/images/web/v2/upi/gpay.svg" alt="" />
                    <img class="payment_icon_img" src="https://st.redbus.in/paas/images/web/v2/upi/phonepe.svg"
                        alt="" />
                    <img class="payment_icon_img" src="https://st.redbus.in/paas/images/web/v2/upi/amazonpay.svg"
                        alt="" />
                </div>
            </div>
        </div>
    </div>
    
    <div class="payment__fullContainer_rightContainer">
        <div class="payment__fullContainer_rightContainer_trip_container">
          <div class="travel_operator_info">
            <div class="travel_title">{{ operatorname }}</div>
            <div class="travel_specification">Seater / A/C / Sleeper</div>
          </div>
          <div class="line"></div>
          <div class="trip_row">
            <div class="trip_subcol">
              <mat-icon class="icons">date_range</mat-icon>
              <div class="trip_subcol_text">
                <div class="travel_specification">{{ 'COMMON.DATE' | translate }}</div>
                <div>{{ bookingdate | date: 'yyyy-MM-dd' }}</div>
              </div>
            </div>
            <div class="trip_subcol_seats">
              <div class="travel_specification">{{ 'BOOKING.SEATS_BOOKED' | translate }}</div>
              <div class="seats_badge">{{ passseatarray }}</div>
            </div>
          </div>
          <div class="line"></div>
          <div class="trip_row">
            <div class="trip_subcol">
              <mat-icon class="icons">location_on</mat-icon>
              <div class="trip_subcol_text">
                <div class="travel_specification">{{ 'BOOKING.BOARDING_POINT' | translate }}</div>
                <div class="font-bold text-slate-800 dark:text-slate-200">{{ routedetails?.departureLocation?.name }}</div>                
                <div>{{ busdepauturetime }}:00</div> 
              </div>
            </div>
            <div class="trip_subcol">
              <mat-icon class="icons">place</mat-icon>
              <div class="trip_subcol_text">
                <div class="travel_specification">{{ 'BOOKING.DROPPING_POINT' | translate }}</div>
                <div class="font-bold text-slate-800 dark:text-slate-200">{{ routedetails?.arrivalLocation?.name }}</div> 
                <div>{{ busarrivaltime }}:00</div>
              </div>
            </div>
          </div>
          <div class="passangerInfo">
            <mat-icon class="icons">account_box</mat-icon>
            <div class="passangerName">{{ customerid.name }}</div>
          </div>
        </div>
        <div class="payment__fullContainer_rightContainer_fair_container">
          <div style="display: flex; justify-content: space-between;">
            <div class="travel_title">{{ 'BOOKING.FARE_SUMMARY' | translate }}</div>
            <img src="https://s3.rdbuz.com/Images/webplatform/Common/Payment/down.svg" width="14" height="14" alt="">
          </div>
          <div style="display: flex; justify-content: space-between; margin-top: 10px;">
            <div class="travel_specification" style="font-weight: bold;">{{ 'COMMON.TOTAL' | translate }}</div>
            <div class="travel_specification" style="font-weight: bold;">Rs. {{passfare}}</div>
          </div>
        </div>
        <div class="security_badges">
          <img class="payment_banner_icon_img" src="https://s3.rdbuz.com/Images/webplatform/Common/Payment/master-card-secure-code.png" alt="">
          <img class="payment_banner_icon_img" src="https://s3.rdbuz.com/Images/webplatform/Common/Payment/verified-by-visa.svg" alt="">
          <img class="payment_banner_icon_img" src="https://s3.rdbuz.com/Images/webplatform/Common/Payment/verisign-secured.png" alt="">
        </div>
      </div>
      
</div>