# Backend Database Connection String
DB_URL=mongodb+srv://psk23910_db_user:uSQfWafjbKzNrLSb@tedbus-clustor.gjhlghs.mongodb.net/tedbus-server?retryWrites=true&w=majority&appName=TedBus-Clustor

# Backend API Port
PORT=8000

# Frontend Web Port
FRONTEND_PORT=4200
