<div class="Header">
    <div class="HeaderOne">
        <p>
            {{ 'NAVBAR.HOME' | translate }} &gt; {{ 'COMMON.BUS' | translate }} &gt; {{this.departure}} {{ 'COMMON.BUS' | translate }} &gt; {{this.departure}} {{ 'COMMON.TO' | translate }} {{this.arrival}}
        </p>
        <p>{{ 'BOOKING.FARE_STARTS_FROM' | translate }}</p>
    </div>
    <div class="HeaderTwo">
        <h3>{{ 'BOOKING.DEPARTURE_TO' | translate }} {{this.arrival}} {{ 'BOOKING.ON' | translate }} {{this.date}}</h3>
    </div>
</div>