<div>
    <app-sorting-bar></app-sorting-bar>
     <div *ngFor="let bus of matchedbus; index as i">
        <div *ngFor="let key of getkeys()">
            <div *ngIf="bus._id === key">
                <app-bus-box [rating]=[4.2] [operatorname]="'TravelXpress'" [bustype]="'sleeper'"
                    [departuretime]="'8:00'" [livetracking]=1 [filledseats]="[1,5,21,8,2]" [reschedulable]=1 
                    [routedetails]="{departureLocation:{name:'Delhi'},arrivalLocation:{name:'Jaipur'},duration:5}"></app-bus-box>
            </div>
        </div>
    </div>
</div>