<footer class="flex flex-col bg-white-100 py-16 items-center">
    <div class="flex flex-col-reverse md:text-base text-sm md:flex-col w-full px-6 md:px-0 md:w-[80%] max-w-325">

        <!-- footer upper part starts here  -->
        <div class="flex justify-between flex-col md:flex-row gap-6">
            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{ 'FOOTER.TOP_RTCS' | translate }}</li>
                <li><a href="">APSRTC</a></li>
                <li><a href="">GSRTC</a></li>
                <li><a href="">MSRTC</a></li>
                <li><a href="">TNSTC</a></li>
                <li><a href="">{{ 'COMMON.VIEW_ALL' | translate }}</a></li>
            </ul>



            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{ 'FOOTER.OTHERS' | translate }}</li>
                <li><a href="">TSRTC</a></li>
                <li><a href="">SBSTC</a></li>
                <li><a href="">RSRTC</a></li>
                <li><a href="">Kerala RTC</a></li>
                <li><a href="">{{ 'COMMON.VIEW_ALL' | translate }}</a></li>
            </ul>


            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{ 'FOOTER.TOP_ROUTES' | translate }}</li>
                <li><a href="">Hyderabad to Bangalore Bus</a></li>
                <li><a href="">Bangalore to Chennai Bus</a></li>
                <li><a href="">Pune to Bangalore Bus</a></li>
                <li><a href="">Mumbai to Bangalore Bus</a></li>
                <li><a href="">{{ 'COMMON.VIEW_ALL' | translate }}</a></li>
            </ul>


            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{ 'FOOTER.TOP_CITIES' | translate }}</li>
                <li><a href="">Hyderabad Bus Tickets</a></li>
                <li><a href="">Bangalore Bus Tickets</a></li>
                <li><a href="">Chennai Bus Tickets</a></li>
                <li><a href="">Pune Bus Tickets</a></li>
                <li><a href="">{{ 'COMMON.VIEW_ALL' | translate }}</a></li>
            </ul>


            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">redRail</li>
                <li><a href="">{{ 'FOOTER.BOOK_TRAIN' | translate }}</a></li>
                <li><a href="">{{ 'FOOTER.PNR_STATUS' | translate }}</a></li>
                <li><a href="">{{ 'FOOTER.LIVE_TRAIN_STATUS' | translate }}</a></li>
                <li><a href="">{{ 'FOOTER.TRAIN_SEAT_AVAILABILITY' | translate }}</a></li>
                <li><a href="">{{ 'FOOTER.TRAINS_BETWEEN_STATIONS' | translate }}</a></li>
            </ul>


        </div>
        <!-- footer upper part ends here  -->

        <hr class="my-8">
        <!-- footer bottom part starts here  -->
        <div class="flex justify-between flex-col md:flex-row gap-6">

            <div class="flex flex-col gap-2 md:w-[25%]">
                <div>
                    <img class="w-28" src="assets/red-bus-with-word-bus-it_600323-482.avif">
                </div>
                <p>{{ 'FOOTER.ABOUT_DESC' | translate }}</p>
            </div>


            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{ 'FOOTER.ABOUT' | translate }} tedbus</li>
                <li><a href="">{{ 'FOOTER.ABOUT' | translate }}</a></li>
                <li><a href="">{{ 'FOOTER.INVESTOR_RELATIONS' | translate }}</a></li>
                <li><a href="">{{ 'FOOTER.CONTACT' | translate }}</a></li>
                <li><a href="">{{ 'FOOTER.MOBILE_VERSION' | translate }}</a></li>
                <li><a href="">{{ 'FOOTER.TEDBUS_ON_MOBILE' | translate }}</a></li>
                <li><a href="">{{ 'FOOTER.SITEMAP' | translate }}</a></li>
                <li><a href="">{{ 'FOOTER.OFFERS' | translate }}</a></li>
                <li><a href="">{{ 'FOOTER.CAREERS' | translate }}</a></li>
                <li><a href="">{{ 'FOOTER.VALUES' | translate }}</a></li>
            </ul>



            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{ 'FOOTER.INFO' | translate }}</li>
                <li><a href="">{{ 'FOOTER.TERMS' | translate }}</a></li>
                <li><a href="">{{ 'FOOTER.PRIVACY_POLICY' | translate }}</a></li>
                <li><a href="">{{ 'FOOTER.HELP' | translate }}</a></li>
                <li><a href="">{{ 'FOOTER.BLOG' | translate }}</a></li>
                <li><a href="">{{ 'FOOTER.BUS_OPERATOR_REG' | translate }}</a></li>
                <li><a href="">{{ 'FOOTER.AGENT_REG' | translate }}</a></li>
                <li><a href="">{{ 'FOOTER.INSURANCE_PARTNER' | translate }}</a></li>
                <li><a href="">{{ 'FOOTER.USER_AGREEMENT' | translate }}</a></li>
            </ul>


            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{ 'FOOTER.GLOBAL_SITES' | translate }}</li>
                <li><a href="">India</a></li>
                <li><a href="">Singapore</a></li>
                <li><a href="">Malaysia</a></li>
                <li><a href="">Indonesia</a></li>
                <li><a href="">Peru</a></li>
                <li><a href="">Colombia</a></li>
            </ul>


            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{ 'FOOTER.OUR_PARTNERS' | translate }}</li>
                <li><a href="">Goibibo Bus</a></li>
                <li><a href="">Goibibo Hotels</a></li>
                <li><a href="">Makemytrip Bus</a></li>
                <li><a href="">Makemytrip Hotels</a></li>
            </ul>


        </div>
        <!-- footer bottom part ends here  -->

        <div class="mt-8 border-t border-gray-200 pt-4 text-center text-sm text-gray-500">
            {{ 'FOOTER.COPYRIGHT' | translate }}
        </div>

    </div>
</footer>